<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Continent Game</title>
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Anton&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="css/style.css">
</head>

<body>
    <div id="background"></div>
    <div id="wrapper">
        <div id="header">
            <div id="title">
                <div class="spacing">
                    <h1>SPORCLE BUT BETTER!</h1>
                </div>
            </div>
            <div id="navigation">
                <div class="spacing">
                    {{#if logged_in}}
                    <ul>
                        <li>
                            <a href="/">Home</a>
                        </li>
                        <li>
                            <a href="/leader">Leaderboard</a>
                        </li>
                        <li>
                            <a href="/profile">Profile</a>
                        </li>
                        <li>
                            <a id="logout">Logout</a>
                        </li>
                    </ul>
                    {{else}}
                    <ul>
                        <li>
                            <a href="/">Home</a>
                        </li>
                        <li>
                            <a href="/leader">Leaderboard</a>
                        </li>
                        <li>
                            <a href="/signup">Sign Up</a>
                        </li>
                        <li>
                            <a href="/login">Login</a>
                        </li>
                    </ul>
                    {{/if}}
                </div>
            </div>
            <div id="form">
                <div class="spacing">
                    <form id="find-form" method="GET" action="search">
                        <input id="bacon" type="text" name="username" placeholder="Search keyword..." />
                        <button type="submit">Search</button>
                    </form>
                </div>
            </div>
        </div>
        {{{ body }}}
    </div>

    {{#if logged_in}}
    <script src="/js/logout.js"></script>
    {{/if}}
</body>

</html>