<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Game Game</title>
</head>
<body>
    <div id="wrapper">
        <div id="header">
            <h1>Sporco but better!</h1>
        </div>
        <div id="navigation">
            <ul>
                <li>
                    <a href="/">Home</a>
                </li>
                <li>
                    <a href="/profile">Profile</a>
                </li>   
                <li>
                    {{#if signedin}}
                        <a href="/login">Login</a>
                    {{else}}
                        <a href="/signup">Sign Up</a>
                    {{/if}}
                </li>
            </ul>
        </div>
        <form>
            <div>
                <label>Search:</label>
                <input type="text" name="search" />
            </div>
            <div>
                <button type="submit">Search</button>
            </div>
        </form>
        {{{body}}}
    </div>
</body>
</html>