{{!-- <div>
    <h2>Countries of {{{Continent}}}</h2>
    <button type="submit">{{{Countries}}}</button>
</div> --}}

{{!-- <div>
    <h2>This city is the capital of which country?</h2>
    {{{Capital}}}
</div> --}}

<div id="wrapper">
    <div>
        <h2>Choose your Continent:</h2>
    </div>
    <div>
        <button id="gameNA" type="submit">North America</button>
    </div>
    <div>
        <button id="gameSA" type="submit">South America</button>
    </div>
    <div>
        <button id="gameEU" type="submit">Europe</button>
    </div>
    <div>
        <button id="gameAF" type="submit">Africa</button>
    </div>
    <div>
        <button id="gameAS" type="submit">Asia</button>
    </div>
    <div>
        <button id="gameAU" type="submit">Australia</button>
    </div>
</div>
<script src="/js/gameplay.js"></script>
