{{!-- <div>
    <h2>Countries of {{{Continent}}}</h2>
    <button type="submit">{{{Countries}}}</button>
</div> --}}

{{!-- <div>
    <h2>This city is the capital of which country?</h2>
    {{{Capital}}}
</div> --}}

<div id="buttonGroup">
    <div>
        <h2>Choose your Continent:</h2>
    </div>
    <div>
        <button id="gameNA" type="button">North America</button>
    </div>
    <div>
        <button id="gameSA" type="button">South America</button>
    </div>
    <div>
        <button id="gameEU" type="button">Europe</button>
    </div>
    <div>
        <button id="gameAF" type="button">Africa</button>
    </div>
    <div>
        <button id="gameAS" type="button">Asia</button>
    </div>
    <div>
        <button id="gameAU" type="button">Australia/Oceania</button>
    </div>
    {{!-- <div>
        <button id="gameAN" type="button">Antarctica</button>
    </div> --}}
</div>

<div id="scoreDisplay">
    <h2>Correct: <span id="currentCorrect"></span>/<span id="totalCountries"></span> </h2>
    <h2><span id="timer"></span></h2>
</div>
<div id="endScreen">
</div>
<div class="countries">
    <h2>Continent</h2>
    <ul id="countryContainer">
    </ul>
</div>
<div class="capital">
    <h2>Capital:</h2>
    <div id="capitalContainer">
    </div>
</div>

<script src="/js/gameplay.js"></script>