<link rel="stylesheet" href="css/gameplay.css">

<div id="allGameContainer">

    <div class="cardoo" id="buttonGroup">
        <h2>Choose your Continent:</h2>
        <button class="buttonTyp" id="gameNA" type="button">North America</button>
        <button class="buttonTyp" id="gameSA" type="button">South America</button>
        <button class="buttonTyp" id="gameEU" type="button">Europe</button>
        <button class="buttonTyp" id="gameAF" type="button">Africa</button>
        <button class="buttonTyp" id="gameAS" type="button">Asia</button>
        <button class="buttonTyp" id="gameAU" type="button">Australia/Oceania</button>
        <button class="buttonTyp" id="gameAN" type="button">Antarctica</button>
    </div>

    <div class="cardoo" id="scoreDisplay">
        <h2>Correct: <span id="currentCorrect"></span>/<span id="totalCountries"></span> </h2>
        <h2><span id="timer"></span></h2>
    </div>

    <div id="endScreen">
    </div>

    <div class="cardoo" id="capitalGroup">
        <h2>Capital:</h2>
        <div id="capitalContainer">
        </div>
    </div>

    <div class="cardoo" id="countryGroup">
        <h2><span id="displayContinent">Continent</span></h2>
        <ul id="countryContainer">
        </ul>
    </div>

</div>

<script src="/js/gameplay.js"></script>