<div id="content">
    <div id="instructions">
        <h3>How to Play:</h3>
        <ul>
            <li>Choose your Continent</li>
            <li>Select the country that the given capital city belongs to</li>
            <li>Answer all the questions until the capital cities run out</li>
            <li>Save your score to your profile</li>
        </ul>
    </div>
    {{!-- <div>
        <img class="map" src="/images/worldmap.jpg" alt="World Map">
    </div> --}}
</div>

{{!-- <script src="homepage.js"></script> --}}

