<div>
    <h2>Instructions:</h2>
    <p>How to Play:</p>
    <ul>
        <li>Choose your Continent</li>
        <li>Select the country that the given capital city belongs to</li>
        <li>Answer all the questions until the capital cities run out</li>
        <li>Save your score to your profile</li>
    </ul>
</div>
<script src="homepage.js"></script>
