<div id="content">
    <div id="instructions">
        <h3>How to Play:</h3>
        <ul>
            <li>Choose your Continent</li>
            <li>Select the country that the given capital city belongs to</li>
            <li>Answer all the questions until the capital cities run out</li>
            <li>Look at your score in your profile</li>
        </ul>
    </div>
    <div id="contentBtn">
        <a href="/newgame">
            <button class="renderGame">Play Now</button>
        </a>
    </div>
</div>

{{!-- <script src="homepage.js"></script> --}}

