<div id="login">
    <h3>Log In</h3>
    <form class="loginForm">
        <div id="username">
            <label>Username:</label>
            <input id="inputUser" type="text" name="username" />
        </div>
        <div id="password">
            <label>Password:</label>
            <input id="inputPass" type="password" name="password" />
        </div>
        <div id="loginBtn">
            <button type="submit">Log In</button>
        </div>
        <a href="/signup">Don't have account yet? Click here!</a>
    </form>
</div>
<script src="/js/login.js"></script>
