* {
    margin: 0;
    padding: 0;
    font-family: 'Anton', sans-serif;
}

body {
    height: 100%;
    background-color: #000;
}

#wrapper {
    position: relative;
    min-height: 100vh;
}

#background {
    background: url('/images/worldphoto.jpg') no-repeat;
    background-attachment: fixed;
    background-position: center;
    background-size: cover; 
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    opacity: .5;
}

#header {
    background-color: #000;
    border-bottom: 10px solid #fff;
    margin: 0px;
    padding: 20px;
    color: #fff;
    display: flex;
}

#header .spacing {
    padding: 0px;
}

#header #title, #header #navigation, #header #form {
    float: left;
    width: 33.33%;
}

#header #title h1 {
    font-family: 'Press Start 2P', cursive;
    font-size: 20px;
    font-weight: bold;
    margin-top: 15px;
}

#header #navigation ul {
    margin-top: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}

#header #navigation ul li {
    list-style: none;
    text-align: center;
}

#header #navigation ul li a {
    padding: 10px;
    color: #fff;
    font-size: 17px;
    text-decoration: none;
}

#form #find-form {
    position: relative;
    display: flex;
    flex-direction: row;
    width: 100%;
}

#form #searchArea {
    width: 100%;
}

#form #searchArea label {
    position: absolute;
    top: -12px;
    font-size: 11px;
    text-transform: uppercase;
}

#form #searchArea #searchInput {
    width: 100%;
    height: 32px;
    padding: 5px;
}

#form button {
    border: 1px solid #ccc;
    padding: 5px 15px;
    height: 100%;
    width: 100px;
}

#content {
    border-radius: 10px;
    background-color: #fff;
    color: #000;
    border: 2px solid #fff;
    width: 300px;
    margin: 50px auto 0;
    padding: 30px;
}

#content #instructions {
    padding: 20px;
}

#content #instructions ul {
    margin-top: 10px;
    margin-left: 30px;
}

#content #contentBtn button {
    border: 1px solid #ccc;
    padding: 6px 15px;
    margin: 10px 0;
    width: 100px;
    cursor: pointer;
}

#content #contentBtn button a {
    color: #000;
    text-decoration: none;
}

#login {
    border-radius: 10px;
    background-color: #fff;
    color: #000;
    border: 2px solid #fff;
    width: 300px;
    margin: 50px auto 0;
    padding: 30px;
}

#login .loginForm {
    margin-top: 10px;
}

#login .loginForm #password {
    margin-top: 10px;
}

#login .loginForm #loginBtn  button {
    border: 1px solid #ccc;
    padding: 6px 15px;
    margin: 10px 0;
    width: 75px;
    float: right;
    cursor: pointer;
}

#login .loginForm a {
    margin: 20px 0;
    display: inline-block;
    width: 100%;
    color: #0077c0;
    font-size: 12px;
    text-align: center;
}

#login .loginForm input {
    width: 275px;
    padding: 5px 10px;
}

#login .loginForm label {
    font-size: 14px;
}

#signup {
    border-radius: 10px;
    background-color: #fff;
    color: #000;
    border: 2px solid #fff;
    width: 300px;
    height: 250px;
    margin: 50px auto 0;
    padding: 30px;
}

#signup .signupUser {
    margin-top: 10px;
}

#signup .signupUser #userPass {
    margin-top: 10px;
}

#signup .signupUser #signupBtn button  {
    border: 1px solid #ccc;
    padding: 6px 15px;
    margin: 10px 0;
    width: 100px;
    float: right;
    cursor: pointer;
}

#signup .signupUser input {
    width: 275px;
    padding: 5px 10px;
}

#signup .signupUser label {
    font-size: 14px
}

/* #profile {
    color: #000;
    width: 100%;
    height: 100%;
    margin: 50px auto 0;
    padding: 30px;
} */

#profile #userProf {
    text-align: center;
    margin: 30px 0;
}

#profile #userProf h1 {
    color: #fff;
    text-shadow: 2px 2px 2px #000;
}

#profile #userProfile {
    display: flex;
    flex-direction: row;
    width: 80%;
    margin: 0 auto;
    overflow: hidden;
}

#profile #userProfile #topScores {
    width: 100%;
    text-align: center;
}

#profile #userProfile #topScores h2 {
    color: #fff;
    text-shadow: 2px 2px 2px #000;
}

/* #profile #userProfile .spacing {
    margin: 10px;
    background-color: #fff;
    height: 100%;
}

#profile #userProfile #topScores .spacing {
    background-color: #fff;
    height: 100%;
    padding: 20px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
}

#profile #userProfile #topScores .spacing h2 {
    margin-bottom: 10px;
}

#profile #userProfile #topScores .spacing p {
    margin-bottom: 10px;
} */

#scoreContainer {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-evenly;
}

.userScore {
    margin-top: 10px;
    border: 2px solid #fff;
    border-radius: 10%;
    background-color: #fff;
    padding: 10px;
}


#chartArea {
    margin-top: 20px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-evenly;
}

@media screen and (min-width: 767px) {

}


